<uib-tabset active="active" type="tabs" class="h-100" cg-busy="gen.promise">
    <uib-tab index="0" select="gen.SelectTab(0)" deselect="gen.SelectTab(-1)">
        <uib-tab-heading class="h5">条码生成</uib-tab-heading>
        <div class="wrapper-md">
            <div class="col-sm-6">
                <div class="panel panel-default" ng-form="gen.BindingForm">
                    <div class="panel-heading font-bold">条码生成</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">编码类型</label>
                                <div class="col-lg-8" ng-class="{ 'has-error' : gen.BindingForm.ItemType.$invalid }">
                                    <ui-select ng-model="gen.SelectedItemType" name="ItemType" theme="bootstrap" search-enabled="true" ng-change="use.SelectUserRole()" ng-required="true">
                                        <ui-select-match placeholder="选择类型...">{{ $select.selected.ItemSpec }}</ui-select-match>
                                        <ui-select-choices repeat="item in gen.ItemTypeList | filter: $select.search track by item.Id">
                                            <div ng-bind-html="item.ItemSpec | highlight: $select.search"></div>
                                            <small ng-bind-html="item.CharName | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-4 control-label">生产条码</label>
                                <div class="col-lg-8" ng-class="{ 'has-error' : gen.BindingForm.InCode.$invalid }">
                                    <input type="text" class="form-control" ui-focus="gen.Focus == 0" name="InCode" ng-model="gen.NewBind.InternalCode" placeholder="生产条码" ng-keyup="gen.KeyDonwInCode($event)" required>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">SN码</label>
                                <div class="col-lg-8" ng-class="{ 'has-error' : gen.BindingForm.SnCode.$invalid }">
                                    <input type="text" class="form-control" ui-focus="gen.Focus == 1" name="SnCode" ng-model="gen.NewBind.SNCode" placeholder="SN码" ng-keyup="gen.KeyDonwSnCode($event)" required disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox col-md-5">
                                        <label class="i-checks">
                                            <input type="checkbox" ng-model="gen.IsAuto"><i></i> 自动绑定
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-sm btn-success" ng-click="gen.BindCode()" ng-disabled="gen.BindingForm.$invalid || gen.IsAuto">绑定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default scroll-y" style="max-height:600px">
                    <div class="panel-heading font-bold text-center">绑定信息展示</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <ul class="list-group bg-white">
                                <li class="list-group-item" ng-repeat="item in gen.MesList track by item.Id" ng-class="{ 'text-danger' : !item.IsOk, 'text-success':item.IsOk }">
                                    <span herf class="pull-left">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    <div class="clear">
                                        <div>{{ item.Msg }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1">
        <uib-tab-heading class="h5">已绑定列表</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ui-focus="gen.Focus == -1" ng-model="gen.Ser.InternalCode" placeholder="生产条码">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="gen.Ser.SNCode" placeholder="SN码">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="gen.Ser.IDCode1" placeholder="模块二维码">
                </div>
                <button class="btn btn-sm btn-info" ng-click="gen.Search()"><i class="glyphicon glyphicon-search"></i>查询</button>
                <button class="btn btn-sm btn-success" ng-click="gen.ExportExcel()"><i class="glyphicon glyphicon-export"></i> 导出</button>
            </div>
        </div>
        <div class="padder-md">
            <table class="table table-striped" cg-busy="sys.promise">
                <tr>
                    <td class="col-md-1">生产条码</td>
                    <td class="col-md-2">SN码</td>
                    <td class="col-md-2">模块二维码</td>
                    <td class="col-md-2">绑定人</td>
                    <td class="col-md-2">绑定时间</td>
                </tr>
                <tr ng-repeat="item in gen.BindList">
                    <td>{{ item.InternalCode }}</td>
                    <td>{{ item.SNCode }}</td>
                    <td>{{ item.IDCode1 }}</td>
                    <td>{{ item.CreateBy }}</td>
                    <td>{{ item.CreateDate }}</td>
                </tr>
            </table>
            <div class="col-md-12 text-center" ng-if="gen.page.total>gen.page.size">
                <div uib-pagination total-items="gen.page.total" ng-model="gen.page.index" items-per-page="gen.page.size" max-size="maxSize" first-text="第一页" previous-text="上一页"
                     ng-change="gen.PageChange()" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true"></div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="2">
        <uib-tab-heading class="h5">编码类型</uib-tab-heading>
        <div class="wrapper-xs">
            <div class="col-md-6 col-md-offset-3">
                <div class="wrapper-md">
                    <div class="form-horizontal">
                        <div class="form-group" uib-collapse="!gen.isAddItemType">
                            <div class="col-sm-12" ng-form="gen.NewItemTypeForm">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="input-group" ng-class="{ 'has-error' : gen.NewItemTypeForm.NewItemType.$invalid }">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" ng-click="gen.InsertItemType()" ng-disabled="gen.NewItemTypeForm.$invalid">
                                                    <i class="glyphicon glyphicon-plus text-success"></i>
                                                </button>
                                            </span>
                                            <input type="text" name="NewItemType" class="form-control" placeholder="规格" ng-model="gen.NewItemType.ItemSpec" required />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group" ng-class="{ 'has-error' : gen.NewItemTypeForm.CharName.$invalid }">
                                            <input type="text" name="CharName" class="form-control" placeholder="简写" ng-model="gen.NewItemType.CharName" required>
                                            <span class="input-group-btn">
                                                <button class="btn btn-light" ng-click="gen.isAddItemType=!gen.isAddItemType"><i class="icon icon-action-undo"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" uib-collapse="gen.isAddItemType">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="input-group col-md-7 col-md-offset-1">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" ng-click="gen.isAddItemType=!gen.isAddItemType">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </span>
                                        <input type="text" class="form-control" placeholder="查询" ng-model="gen.itemTypeQuenry">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" disabled>
                                                <i class="glyphicon glyphicon-search text-success"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group bg-white">
                        <li class="list-group-item" ng-repeat="type in gen.ItemTypeList | filter:gen.itemTypeQuenry ">
                            <a herf class="pull-left">
                                <b class="badge bg-success h2"><i class="fa fa-dot-circle-o"></i></b>
                            </a>
                            <div class="clear">
                                <div>
                                    <a ng-click='gen.DeleteItemType(type)' class="pull-right hover text-muted h4"><i class="fa fa-times text-danger"></i></a>
                                    <div class="text-info h4">{{ type.ItemSpec }}</div>
                                </div>
                                <small class="text-muted">{{ type.CharName }}</small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
