<div class="app-content-full" cg-busy="en.promise">
    <div class="hbox hbox-auto-xs hbox-auto-sm bg-light">
        <div class="col w-md lt b-r text-xs">
            <div class="vbox">
                <div class="wrapper">
                    <div class="h4 text-center">计划数据实体</div>
                </div>
                <div class="wrapper b-t m-b-xxs">
                    <div class="form-group">
                        <div class="form-group">
                            <div connect-select ng-model="en.ConnectName" ng-name="obConnect" ng-change="en.conChange()"></div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" placeholder="查询" ng-model="en.EntityQuery">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" ng-click="en.EnAdd()" ng-disabled="en.isAddOpen">
                                    <i class="glyphicon glyphicon-plus text-success">新增</i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder">
                                <div uib-collapse="!en.isAddOpen">
                                    <div class="panel">
                                        <div class="panel-body" ng-form="en.EntityForm">
                                            <div class="form-horizontal">
                                                <div class="form-group" ng-class="{ 'has-error' : en.EntityForm.entityName.$invalid }">
                                                    <input placeholder="实体名" ng-disabled="!en.isAdd" class="form-control text-xs warning" name="entityName" ng-blur="en.isExists(en.SelectedEn.EntityName)" type="text" ng-model="en.SelectedEn.EntityName" required>
                                                </div>
                                                <div class="form-group" ng-class="{ 'has-error' : en.EntityForm.obConnect.$invalid }">
                                                    <div object-select ob-type="'UV'" ob-connect="en.ConnectName" first-load="en.firstLoad" ng-model="en.EnTable" ng-name="obTable" my-required="true"></div>
                                                </div>
                                                <div class="form-group">
                                                    <input ui-jq="TouchSpin" placeholder="往下展开层级" class="input-sm" type="text" ng-model="en.SelectedEn.Level" data-min='1' data-max="10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer text-right">
                                            <a class="btn btn-sm btn-success m-2" ng-click="en.SaveEntity()" ng-disabled="en.EntityForm.$invalid"><i class="glyphicon glyphicon-save"></i>储存</a>
                                            <a class="btn btn-sm btn-warning m-2 m-l-md" ng-click="en.Cancel()">取消</a>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="!en.isAddOpen">
                                    <div class="list-group">
                                        <a ng-repeat="item in en.List | filter:en.EntityQuery " class="list-group-item b-l-3x hover-anchor cl" ng-class="{'hover': item.selected, ' b-l-info':$index%2==0, 'b-l-primary':$index%2==1}">
                                            <span ng-click='en.DeleteEn(item)' ng-confirm="{text:'确定要删除实体吗'}" class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                                            <span class="pull-left"><i class="glyphicon glyphicon-tree-conifer"></i></span><span class="block text-info text-lg" ng-bind-html="item.EntityName | highlight: en.EntityQuery" ng-click="en.SelectEn(item)"></span>
                                            <small class="text-muted" ng-click="en.SelectEn(item)">
                                                <span>{{ item.TableSchema }}.{{ item.TableName }}</span>
                                                <span class="pull-right">{{ item.Level }}</span>
                                            </small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col w-auto w-lg lt b-r text-xs">
            <div class="vbox">
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder">
                                <span class="pull-right">
                                    <button class="btn btn-sm btn-success" ng-if="!en.isEditing && en.SelectedEn.EntityName" ng-click="en.Edit()" ng-disabled="en.isAddOpen">
                                        <i class="glyphicon glyphicon-edit text-primary">编辑</i>
                                    </button>
                                    <button class="btn btn-sm btn-default m-l-md" ng-if="en.isEditing" ng-click="en.AddPro()" ng-disabled="en.isProAdd">
                                        <i class="glyphicon glyphicon-plus text-success">新增</i>
                                    </button>
                                </span>
                                <uib-tabset active="active" type="tabs">
                                    <uib-tab index="0">
                                        <uib-tab-heading class="h5">属性信息</uib-tab-heading>
                                        <div class="panel panel-danger">
                                            <div class="panel-body">
                                                <div uib-collapse="en.isProAdd">
                                                    <div class="col-lg-4 col-md-6 col-xs-12" ng-repeat="pro in en.PropertyList">
                                                        <!--<div class="col-lg-4 col-md-6 col-xs-12" ng-repeat="pro in en.PropertyList | orderBy:'ColumnType'">-->
                                                        <div class="panel {{ en.setClass(pro.ColumnType) }}">
                                                            <div class="panel-heading h4">
                                                                {{ pro.ColumnName }}
                                                                <span ng-click='en.DeletePro(pro)' ng-if="en.isEditing" class="pull-right text-xs text-danger"><i class="fa fa-times"></i></span>
                                                            </div>
                                                            <div class="form form-horizontal m-t-xxs">
                                                                <div class="form-group" ng-if="pro.ColumnType == '0'">
                                                                    <label class="col-sm-4 control-label">主键:</label>
                                                                    <div class="col-sm-6">
                                                                        <div toggle-switch ng-model="pro.IsKey" class="switch-mini w-xxs switch-small switch-danger" on-label="是" off-label="否"
                                                                             on-value="1" off-value="0" is-disabled="!en.isEditing"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" ng-if="pro.ColumnType == '0'">
                                                                    <label class="col-sm-4 control-label">排序:</label>
                                                                    <div class="col-sm-7">
                                                                        <div class="m-b-sm">
                                                                            <div config-select ng-model="pro.OrderWay" config-option="en.ConfigOrderWay" ng-disabled="!en.isEditing"></div>
                                                                        </div>
                                                                        <div>
                                                                            <input ui-jq="TouchSpin" type="text" ng-model="pro.OrderNum" class="form-control-sm input-sm" data-min='0' data-max="20" ng-disabled="!en.isEditing"
                                                                                   data-verticalbuttons="false" data-verticalupclass="btn-xs fa fa-caret-up" data-verticaldownclass="btn-xs btn-sm fa fa-caret-down">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" ng-show="pro.ColumnType != '0'">
                                                                    <label class="col-sm-4 control-label">属性:</label>
                                                                    <div class="col-sm-7 input-group">
                                                                        <span class="input-group-btn">
                                                                            <button ng-click="en.EditProClass(pro)" class="btn btn-default">
                                                                                <span class="icon icon-settings text-success"></span>
                                                                            </button>
                                                                        </span>
                                                                        <div config-select ng-model="pro.ColumnType" config-option="en.ConfigColumnType" ng-disabled="!en.isEditing"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--<pre class="col-lg-12">{{ en.PropertyList | json }} </pre>-->
                                                </div>
                                                <div uib-collapse="!en.isProAdd">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">{{ en.ProItem.ColumnName }} 属性编辑</div>
                                                        <div class="panel-body">
                                                            <div class="form form-horizontal col-md-offset-1 col-md-10" ng-form="en.ClassForm">
                                                                <div class="form-group pull-in clearfix">
                                                                    <div class="col-md-6" title="属性名">
                                                                        <label class="sr-only">属性名:</label>
                                                                        <div ng-class="{ 'has-error' : en.ClassForm.Pro.$invalid }">
                                                                            <input type="text" class="form-control text-xs" name="Pro" placeholder="属性名"
                                                                                   ng-model="en.ProItem.ColumnName" ng-disabled="!en.isEditing || en.IsProEdit" ng-blur="en.isProExists(en.ProItem.ColumnName)" required>
                                                                            <div ng-messages="en.ClassForm.Pro.$error" class="help-block" role="alert">
                                                                                <div ng-message="required">请输入属性名</div>
                                                                                <div ng-message="unique">属性名重复</div>
                                                                                <div ng-message="neetList">需要添加关联条件</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5" title="属性类别">
                                                                        <label class="sr-only">属性类别:</label>
                                                                        <div ng-class="{ 'has-error' : en.ClassForm.enType.$invalid }">
                                                                            <div config-select ng-model="en.ProItem.ColumnType" ng-name="enType" selectClass="text-danger text-xs" config-option="en.ConfigColumnType" ng-disabled="!en.isEditing" my-required="true"></div>
                                                                            <div ng-messages="en.ClassForm.enType.$error" class="help-block" role="alert">
                                                                                <div ng-message="required">请选择类别</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group pull-in clearfix">
                                                                    <div class="col-md-6" title="关联实体">
                                                                        <label class="sr-only">关联实体</label>
                                                                        <div ng-class="{ 'has-error' : en.ClassForm.conEn.$invalid }">
                                                                            <div entity-select ng-model="en.ProItem.RelateEntity" select-class="'text-xs'" connect-name="en.ConnectName" ng-name="conEn" ng-disabled="!en.isEditing" my-required="true" />
                                                                            <div ng-messages="en.ClassForm.conEn.$error" class="help-block" role="alert">
                                                                                <div ng-message="required">请选择关联实体</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5" title="关联方式">
                                                                        <label class="sr-only">关联方式</label>
                                                                        <div ng-class="{ 'has-error' : en.ClassForm.conRelType.$invalid }">
                                                                            <div config-select ng-model="en.ProItem.RelationType" select-class="text-xs" ng-name="conRelType" config-option="en.ConfigRelationType" ng-disabled="!en.isEditing" my-required="true"></div>
                                                                            <div ng-messages="en.ClassForm.conRelType.$error" class="help-block" role="alert">
                                                                                <div ng-message="required">请选择关联方式</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form form-horizontal col-md-offset-1 col-md-10" ng-if="en.isEditing">
                                                                <div class="form-group pull-in clearfix" ng-form="en.RelateForm">
                                                                    <div class="col-md-1 control-label" title="增加关联条件">
                                                                        <span class="btn btn-default" ng-click="en.AddProRelCon()" ng-disabled="en.RelateForm.$invalid">
                                                                            <i class="glyphicon glyphicon-plus text-success"></i>
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row">
                                                                            <div class="col-lg-3" ng-class="{ 'has-error' : en.RelateForm.ParenType.$invalid }" title="母实体条件类型">
                                                                                <div config-select ng-model="en.newRelCon.ParenType" ng-name="ParenType" my-required="true" config-option="en.EntityRelationType"></div>
                                                                            </div>
                                                                            <div class="col-lg-5" ng-class="{ 'has-error' : en.RelateForm.ParentKey.$invalid }" title="母实体条件">
                                                                                <ui-select name="ParentKey" ng-model="en.newRelCon.ParentKey" theme="bootstrap" ng-if="en.newRelCon.ParenType=='0'" ng-required="true">
                                                                                    <ui-select-match placeholder="父实体栏位">{{ $select.selected.ColumnName }}</ui-select-match>
                                                                                    <ui-select-choices repeat="item.ColumnName as item in en.TbColunms | filter: $select.search track by item.ColumnName">
                                                                                        <div ng-bind-html="item.ColumnName | highlight: $select.search"></div>
                                                                                    </ui-select-choices>
                                                                                </ui-select>
                                                                                <input type="text" name="ParentKey" class="form-control" ng-model="en.newRelCon.ParentKey" ng-if="en.newRelCon.ParenType=='2'" required />
                                                                                <input ui-jq="TouchSpin" name="ParentKey" type="text" ng-model="en.newRelCon.ParentKey" ng-if="en.newRelCon.ParenType=='1'" class="form-control" ng-disabled="!en.isEditing"
                                                                                       data-verticalbuttons="true" data-verticalupclass="btn-xs fa fa-caret-up" data-verticaldownclass="btn-xs btn-sm fa fa-caret-down"
                                                                                       data-min='-2147483647' data-max="2147483647" required>
                                                                            </div>
                                                                            <div class="col-lg-3" ng-class="{ 'has-error' : en.RelateForm.RelExp.$invalid }" title="条件中间表达式">
                                                                                <div config-select ng-name="RelExp" my-required="true" ng-model="en.newRelCon.Expression" select-class="text-xs" config-option="en.EntityRelationExp"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row m-t-xs">
                                                                            <div class="col-lg-3" ng-class="{ 'has-error' : en.RelateForm.ChildType.$invalid }" title="关联实体条件">
                                                                                <div config-select ng-model="en.newRelCon.ChildType" ng-name="ChildType" my-required="true" config-option="en.EntityRelationType"></div>
                                                                            </div>
                                                                            <div class="col-lg-5" ng-class="{ 'has-error' : en.RelateForm.ChildKey.$invalid }" title="关联实体条件">
                                                                                <ui-select name="ChildKey" ng-model="en.newRelCon.ChildKey" theme="bootstrap" ng-if="en.newRelCon.ChildType=='0'" ng-required="true">
                                                                                    <ui-select-match placeholder="父实体栏位">{{ $select.selected.ColumnName }}</ui-select-match>
                                                                                    <ui-select-choices repeat="item.ColumnName as item in en.TbChildColunms | filter: $select.search track by item.ColumnName">
                                                                                        <div ng-bind-html="item.ColumnName | highlight: $select.search"></div>
                                                                                    </ui-select-choices>
                                                                                </ui-select>
                                                                                <input type="text" name="ChildKey" class="form-control" ng-model="en.newRelCon.ChildKey" ng-if="en.newRelCon.ChildType=='2'" required />
                                                                                <input ui-jq="TouchSpin" name="ChildKey" type="text" ng-model="en.newRelCon.ChildKey" ng-if="en.newRelCon.ChildType=='1'" class="form-control" ng-disabled="!en.isEditing"
                                                                                       data-verticalbuttons="true" data-verticalupclass="btn-xs fa fa-caret-up" data-verticaldownclass="btn-xs btn-sm fa fa-caret-down"
                                                                                       data-min='-2147483647' data-max="2147483647" required>
                                                                            </div>
                                                                            <div class="col-lg-3" ng-class="{ 'has-error' : en.RelateForm.Ass.$invalid }" title="多条件关联方式">
                                                                                <div config-select ng-name="Ass" my-required="true" ng-model="en.newRelCon.Associate" select-class="text-xs" ng-disabled="en.ProItem.RelateList.length==0" config-option="en.EntityRelationAss"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-9">
                                                                <div class="panel panel-success">
                                                                    <ul class="list-group alt h4">
                                                                        <li class="list-group-item" ng-repeat="rel in en.ProItem.RelateList ">
                                                                            <span>          {{ rel.Associate }} </span><span ng-if="rel.ParenType !='2'">          {{ rel.ParentKey }}</span>
                                                                            <span ng-if="rel.ParenType =='2'"> '{{ rel.ParentKey }}'</span>
                                                                            {{ rel.Expression }}      <span ng-if="rel.ChildType !='2'"> {{ rel.ChildKey }}</span>
                                                                            <span ng-if="rel.ChildType =='2'"> '{{ rel.ChildKey }}'</span>
                                                                            <span ng-click="en.DeleteProCon($index)" ng-if="en.isEditing" class="pull-right text-danger"><i class="fa fa-times"></i></span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="form-group">
                                                                    <span class="pull-right">
                                                                        <button class="btn btn-sm btn-success" ng-if="en.isEditing" ng-click="en.SaveProClass()" ng-disabled="en.ClassForm.$invalid">
                                                                            <i class="glyphicon glyphicon-edit">确定</i>
                                                                        </button>
                                                                        <button class="btn btn-sm btn-warning m-l-xs m-r-lg" ng-click="en.CancelProCon()"> 取消</button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1">
                                        <uib-tab-heading class="h5">存储过程</uib-tab-heading>
                                        <div class="panel panel-success">
                                            <div class="panel-heading">实体相关存储过程</div>
                                            <div class="panel-body">
                                                <div class="form form-horizontal m-t-md" ng-form="en.ProcedureForm">
                                                    <div class="form-group" ng-if="en.isEditing">
                                                        <label class="col-sm-1 control-label"></label>
                                                        <div class="col-sm-10">
                                                            <div class="row">
                                                                <div class="col-md-4" ng-class="{ 'has-error' : en.ProcedureForm.ShortName.$invalid }">
                                                                    <input class="form-control" name="ShortName" placeholder="存储过程简称" type="text" ng-blur="en.isProcExists(en.NewProc.ShortName)" ng-model="en.NewProc.ShortName" required />
                                                                    <div ng-messages="en.ProcedureForm.ShortName.$error" class="help-block" role="alert">
                                                                        <div ng-message="unique">简称重复</div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" ng-class="{ 'has-error' : en.ProcedureForm.Proc.$invalid }">
                                                                    <div object-select ob-type="'P'" ng-name="Proc" placeholder="请选择存储过程..." first-load="en.firstLoad" ob-connect="en.ConnectName" ng-model="en.NewProc.EnProcedure" my-required="true"></div>
                                                                </div>
                                                                <div class="col-md-1" ng-if="en.isEditing">
                                                                    <span class="btn btn-default" ng-click="en.AddProc()" ng-disabled="en.ProcedureForm.$invalid" title="增加关联存储过程">
                                                                        <i class="glyphicon glyphicon-plus text-success"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                                    <div class="form-group" ng-repeat="proc in en.ProcList">
                                                        <label class="col-sm-1 control-label"></label>
                                                        <div class="col-sm-10">
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <input class="form-control" ng-model="proc.ShortName" placeholder="存储过程简称" type="text" disabled />
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div object-select ob-type="'P'" placeholder="请选择存储过程..." first-load="en.firstLoad" ob-connect="en.ConnectName" ng-disabled="!en.isEditing"
                                                                         ng-model="proc.EnProcedure" ng-name="obProc" my-required="true"></div>
                                                                    <span ng-show='forma.confirm_foo.$error.validator'>Not match!</span>
                                                                </div>
                                                                <div class="col-md-1" ng-if="en.isEditing">
                                                                    <span class="btn btn-default" ng-click="en.DeleteProc($index)"><i class="glyphicon glyphicon-remove text-danger"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                                </div>
                                                <!--<pre>{{ ProcedureForm.$parent | json }}</pre>-->
                                            </div>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col w-md lt b-r text-xs">
            <div class="vbox">
                <div class="wrapper b-t m-t-xxs">
                    <p class="text-black-50">{{  en.SelectedEn.TableSchema  + (en.SelectedEn.TableSchema?".":"") + en.SelectedEn.TableName }}栏位列表</p>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="查询" ng-model="en.TbColunmName">
                        <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder bg-white">
                                <div class="panel-body">
                                    <article class="media" ng-repeat="item in en.TbColunms | filter:en.TbColunmName ">
                                        <div class="pull-left">
                                            <label class="i-checks">
                                                <input type="checkbox" ng-checked="en.TbChecked(item)" ng-disabled="!en.isEditing" ng-model="item.isCheck" ng-change="en.CheckChange(item)"><i></i>
                                            </label>
                                        </div>
                                        <div class="media-body form-group">
                                            <div class="list-group-item-sm col-lg-12">
                                                <span class="h-3 text-success">{{ item.ColumnName }}</span>
                                                <span class="pull-right" ng-if="item.IsKey == 1">
                                                    <i class="badge badge-success text-danger">Key</i>
                                                </span>
                                            </div>
                                            <div class="list-group-item-sm col-lg-12">
                                                <small class="block m-t-xs">{{ item.ColumnDes }}</small>
                                                <em class="text-xs"><span class="text-info">{{ item.DataType }}</span></em>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
