<div class="modal-header">
    <h3 class="modal-title">弹出窗路由{{ dialog.form.title }}</h3>
</div>
<div class="modal-body wrapper-md" ng-form="dialog.DialogForm">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal col-sm-6">
                <div class="form-group pull-in clearfix">
                    <label class="col-lg-3 control-label text-info">弹出窗名</label>
                    <div class="col-lg-9" ng-class="{ 'has-error' : dialog.DialogForm.name.$invalid }">
                        <input type="text" class="form-control" name="name" placeholder="弹出窗名"
                               ng-model="dialog.NewItem.name" ng-disabled="dialog.form.index == 1" ng-blur="dialog.isExists(dialog.NewItem.name)" required>
                        <div ng-messages="dialog.DialogForm.name.$error" class="help-block" role="alert">
                            <div ng-message="required">请输入弹出窗名</div>
                            <div ng-message="unique">弹出窗名重复</div>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-in clearfix">
                    <label class="col-lg-3 control-label text-info">HTML文件</label>
                    <div class="col-lg-9" ng-class="{ 'has-error' : dialog.DialogForm.Html.$invalid }">
                        <div fun-file-select file-type="1" ng-model="dialog.NewItem.templateUrl" clear="true" ng-name="Html" my-required="true"></div>
                        <div ng-messages="dialog.DialogForm.Html.$error" class="help-block" role="alert">
                            <div ng-message="required">请选择对应Html文件</div>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-in clearfix">
                    <label class="col-lg-3 control-label text-info">控制器</label>
                    <div class="col-lg-9" ng-class="{ 'has-error' : dialog.DialogForm.Control.$invalid }">
                        <input class="form-control text-xs" name="Control" type="text" ng-model="dialog.NewItem.controller" ng-disabled="dialog.editDialog" required>
                        <div ng-messages="dialog.DialogForm.Control.$error" class="help-block" role="alert">
                            <div ng-message="required">请输入控制器</div>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-in clearfix">
                    <label class="col-lg-3 control-label text-info">控制器简写</label>
                    <div class="col-lg-9">
                        <input class="form-control text-xs" type="text" ng-model="dialog.NewItem.controllerAs">
                    </div>
                </div>
                <div class="form-group pull-in clearfix">
                    <label class="col-lg-3 control-label text-info">大小</label>
                    <div class="col-lg-9">
                        <select class="form-control" ng-model="dialog.NewItem.size">
                            <option></option>
                            <option value="sm" ng-selected="dialog.NewItem.size == 'sm'">sm</option>
                            <option value="lg" ng-selected="dialog.NewItem.size == 'lg'">lg</option>
                        </select>
                    </div>
                </div>
                <div class="form-group pull-in clearfix">
                    <label class="col-lg-3 control-label text-info">依赖文件</label>
                    <div class="input-group col-lg-9">
                        <div fun-file-select file-type="2" ng-model="dialog.loadFile"></div>
                        <span class="input-group-btn">
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-plus text-success" ng-click="dialog.LoadAdd()"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="panel panel-info col-sm-6">
                <div class="panel-heading">依赖文件列表</div>
                <div class="panel-body">
                    <div class="list-group no-radius no-border no-bg m-b-none">
                        <a ng-repeat="load in dialog.NewItem.LoadFiles"
                           class="list-group-item"
                           ng-drop="true" ng-drop-success="dialog.LoadDrop($data,$index)">
                            <span ng-click='dialog.DeleteLoad($index)' class="pull-right text-danger">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="block m-l-n bg-transparent">
                                <i class="glyphicon glyphicon-move text-info" ng-drag="true"
                                   ng-drag-data="load" ng-drag-success="dialog.LoadDrag($data,$index)"></i>{{ load.LoadName }}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-disabled="dialog.DialogForm.$invalid" ng-click="dialog.Save()">储存</button>
    <button class="btn btn-warning" type="button" ng-click="dialog.cancel()">取消</button>
</div>

<pre>{{ dialog.NewItem | json }}</pre>