<div class="modal-header">
    <h3 class="modal-title">用户账户{{ use.form.title }}</h3>
</div>
<div class="modal-body wrapper-md" ng-form="use.UserForm">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">用户账户</label>
                    <div class="col-md-10" ng-class="{ 'has-error' : use.UserForm.No.$invalid }">
                        <input type="text" class="form-control" name="No" placeholder="用户账户"
                               ng-model="use.Item.UserNo" ng-disabled="use.form.index == 1" ng-blur="use.isExists()" required>
                        <div ng-messages="use.UserForm.No.$error" class="help-block" role="alert">
                            <div ng-message="unique">用户账户重复</div>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-in clearfix">
                    <label class="col-md-2 control-label">初始密码</label>
                    <div class="col-md-10" ng-class="{ 'has-error' : use.UserForm.psw.$invalid }">
                        <input type="password" name="psw" class="form-control" ng-minlength="8" ng-maxlength="18" placeholder="登陆密码" ng-model="use.Item.UserPswd"
                               ng-pattern="/^(?![^a-zA-Z]+$)(?!\D+$)/" required>
                        <div ng-messages="use.UserForm.psw.$error" class="help-block" role="alert">
                            <!--<div ng-message="required">请输入登陆密码</div>-->
                            <div ng-message="minlength">密码必须大于8位</div>
                            <div ng-message="maxlength">密码必须小于18位</div>
                            <div ng-message="pattern">密码必须为6-18位字母、数字</div>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-in clearfix">
                    <label class="col-md-2 control-label">姓名</label>
                    <div class="col-md-4" ng-class="{ 'has-error' : use.UserForm.ChLastName.$invalid }">
                        <input type="text" name="ChLastName" class="form-control" ng-maxlength="10" placeholder="姓" ng-model="use.Item.ChiLastName" required>
                    </div>
                    <div class="col-md-6" ng-class="{ 'has-error' : use.UserForm.ChiFirstName.$invalid }">
                        <input type="text" class="form-control" name="ChiFirstName" ng-maxlength="10" placeholder="名" ng-model="use.Item.ChiFirstName" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-disabled="use.UserForm.$invalid" ng-click="use.Save()">储存</button>
    <button class="btn btn-warning" type="button" ng-click="use.cancel()">取消</button>
</div>
<!--<pre>{{ use.Item | json }}</pre>-->